/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background-image: url(../img/pppp.jpg);
	width: 100%;
	backdrop-filter: blur(5px);
}
.container {
    width: 60% !important;
}
.navtop {
	background-color: #F2F2F2;
	/* width: 50%; */
}
.navtop a {
	color: rgba(59, 59, 59, 0.781);
}
.navtop a:hover {
	color: rgba(0, 0, 0, 0.445);
}
.navtop a:active {
	color: rgb(37, 37, 37);
}

.banner {
    
    background:url('../img/home.jpg')
    center center no-repeat ; 
    background-size: cover;
    height: 300px;
    opacity: 0.8;
	backdrop-filter: blur(5px);

}
.alignworld {
	text-align: justify;
	text-justify: distribute;
}
.banner-title {
    width: 200px;
}

.ml-20 {
    margin-left: 20px;
}
.ml-60 {
    margin-left: 60px;
}
.footer {
	background-color: #F2F2F2;
	font-size: 12px;

}
.shadow {
	box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.7);
}
.ch {
	background-color: #F2F2F2;
}
.ah {
	background-color: #F2F2F2;
}
.ch:hover {
	transform: scale(1.2);
	
}
.ah:hover {	
	opacity: 0.8;
}
.bg-radius {
	border-radius: 25px;
}
.abuy::after {
	color:rgba(59, 59, 59, 0.781);
}
	
.abuy:hover::after {
	opacity: 0;
}
.abuy::before {
	position: absolute;
	color:rgba(59, 59, 59, 0.781);
	transition: all .65s .1s;
	transform: 0.3s;
	backface-visibility: hidden;
}
  
.abuy:hover::before {
	transform: translateY(-1em);
	opacity: 0;
}
.astory::after {
	color:rgba(59, 59, 59, 0.781);
}
	
.astory:hover::after {
	opacity: 0;
}
.astory::before {
	content: "關於我們";
	position: absolute;
	color:rgba(59, 59, 59, 0.781);
	transition: all .65s .1s;
	transform: 0.3s;
	backface-visibility: hidden;
}
  
.astory:hover::before {
	transform: translateY(-1em);
	opacity: 0;
}
.astore::after {
	color:rgba(59, 59, 59, 0.781);
}
	
.astore:hover::after {
	opacity: 0;
}
.astore::before {
	content: "門市查詢";
	position: absolute;
	color:rgba(59, 59, 59, 0.781);
	transition: all .65s .1s;
	transform: 0.3s;
	backface-visibility: hidden;
}
  
.astore:hover::before {
	transform: translateY(-1em);
	opacity: 0;
}
.abuy::after {
	color:rgba(59, 59, 59, 0.781);
}
	
.abuy:hover::after {
	opacity: 0;
}
.abuy::before {
	content: "選購方案";
	position: absolute;
	color:rgba(59, 59, 59, 0.781);
	transition: all .65s .1s;
	transform: 0.3s;
	backface-visibility: hidden;
}
  
.abuy:hover::before {
	transform: translateY(-1em);
	opacity: 0;
}
.aproduct::after {
	color:rgba(59, 59, 59, 0.781);
}
	
.aproduct:hover::after {
	opacity: 0;
}
.aproduct::before {
	content: "商品介紹";
	position: absolute;
	color:rgba(59, 59, 59, 0.781);
	transition: all .65s .1s;
	transform: 0.3s;
	backface-visibility: hidden;
}
  
.aproduct:hover::before {
	transform: translateY(-1em);
	opacity: 0;
}
